.spinner {
  @apply absolute h-[30px] w-[30px] md:h-[40px] md:w-[40px] xl:h-[80px] xl:w-[80px];
  border: 3px solid transparent;
  border-top-color: #064e3b;
  top: 50%;
  left: 50%;
  margin: -30px;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
.spinner::before,
.spinner::after {
  content: '';
  position: absolute;
  border: 3px solid transparent;
  border-radius: 50%;
}
.spinner::before {
  border-top-color: #a16207;
  top: -12px;
  left: -12px;
  right: -12px;
  bottom: -12px;
  animation: spin 3s linear infinite;
}
.spinner::after {
  border-top-color: rgba(2, 147, 28, 0.5);
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
