@tailwind base;

@layer base {
  .invisible-scrollbar::-webkit-scrollbar {
    display: none;
  }
  ::-webkit-scrollbar {
    @apply !w-[12px] rounded-main border border-solid border-mint bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply !box-border !w-[10px] rounded-main border-[2px] border-solid border-mint bg-mint; /*color trackbar*/
  }
  ::-webkit-scrollbar-track {
    @apply !box-border rounded-main border-[2px] border-solid border-mint;
  }
  ::-webkit-scrollbar-button {
    @apply hidden;
  }
}

@tailwind components;
@tailwind utilities;

body {
  @apply bg-white pt-[92px] font-mulish text-small font-normal text-accent xl:pt-[138px];
}

.header {
  @apply fixed left-0 top-0 z-10 flex w-full justify-between bg-white;
}

img {
  display: block;
  max-width: 100%;
}

/* Styles for phone input */
.selected-flag {
  @apply !bg-transparent;
}
.flag {
  @apply scale-[2] rounded-main;
}
.arrow {
  border-top: 4px solid #fcfcfc !important;
  margin-left: 8px !important;
}
.up {
  border-top: none !important;
  border-bottom: 4px solid #fcfcfc !important;
}
.country-name {
  @apply !ml-[10px];
}
.react-tel-input:focus-within .arrow {
  border-top: 4px solid #a16207 !important;
}
.react-tel-input:focus-within .up {
  border-top: none !important;
  border-bottom: 4px solid #a16207 !important;
}
.react-tel-input:focus-within .form-control {
  @apply !border-yellow text-yellow outline-0;
}
.country {
  @apply !py-4;
}
/* .react-tel-input:focus-within .country-list {
  @apply !outline-yellow;
} */
