/* slider */

.swiperContainer {
  @apply mx-auto max-w-[627px] md:max-w-[756px] xl:max-w-[1200px];
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiperContainer .prev-slider {
  right: 86px;
}

.swiperContainer .next-slider {
  right: 30px;
}

.swiper-horizontal > .swiper-pagination-bullets {
  bottom: 0px;
  height: 10px;
}

.swiperContainer .swiper {
  padding-bottom: 20px;
}

.swiperContainer .swiper-wrapper {
  align-items: center;
}

.swiper-slide img {
  display: block;
  height: auto;
  max-width: 100%;
}

.sliderSwiper .swiper-slide {
  transition: all 200ms linear;
  scale: 0.9;
}

.sliderSwiper .swiper-slide-active {
  scale: 1;
}

.swiperContainer .prev-slider,
.swiperContainer .next-slider {
  display: none;
}

@media screen and (min-width: 768px) {
  .sliderSwiper .swiper-slide {
    scale: 0.8;
  }

  .sliderSwiper .swiper-slide-active {
    scale: 1;
  }

  .swiperContainer .swiper {
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 1280px) {
  .sliderSwiper .swiper-slide {
    scale: 0.8;
  }

  .sliderSwiper .swiper-slide-active {
    scale: 1;
  }

  .swiperContainer .swiper {
    padding-bottom: 0px;
  }

  .swiperContainer .swiper-pagination {
    display: none;
  }

  .swiperContainer .prev-slider,
  .swiperContainer .next-slider {
    position: absolute;
    top: 20px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;

    cursor: pointer;
    transition: opacity 200ms linear;
    z-index: 2;
    color: #064e3b;
  }

  .swiperContainer .prev-slider:hover,
  .swiperContainer .prev-slider:focus,
  .swiperContainer .next-slider:hover,
  .swiperContainer .next-slider:focus {
    background-color: rgba(2, 147, 28, 0.1);
    outline: none;
  }
}

/* green bullets */
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #064e3b;
}

.swiperContainer .swiper-pagination-bullet {
  border: 1px solid #064e3b;
  background: transparent;
}
