/* slider */
.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.prev-slider {
  right: 56px;
}

.next-slider {
  right: 0;
}

.swiper-horizontal > .swiper-pagination-bullets {
  bottom: 5px;
  height: 10px;
}

.slide {
  position: relative;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-slide img {
  display: block;
  height: auto;
  max-width: 100%;
}

.swiper-slide {
  transition: all 200ms linear;
  scale: 0.9;
}

.swiper-slide-active {
  scale: 1;
}

.prev-slider,
.next-slider {
  display: none;
}

@media screen and (min-width: 1280px) {
  .swiper-pagination {
    display: none;
  }

  .prev-slider,
  .next-slider {
    position: absolute;
    top: 21px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;

    cursor: pointer;
    transition: opacity 200ms linear;
    z-index: 2;
    color: #064e3b;
  }

  .prev-slider:hover,
  .prev-slider:focus,
  .next-slider:hover,
  .next-slider:focus {
    background-color: rgba(2, 147, 28, 0.1);
    outline: none;
  }
}

/* green bullets */
/* span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #064e3b;
}

.swiper-pagination-bullet {
  border: 1px solid #064e3b;
  background: transparent;
} */
