/* slider */
.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

/* .prev-slider,
.next-slider {
  position: absolute;
  top: 21px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(2, 147, 28, 0.1);
  cursor: pointer;
  transition: opacity 200ms linear;
  z-index: 2;
  color: #064e3b;
} */

.prev-slider {
  right: 56px;
}

.next-slider {
  right: 0px;
}

.swiper-horizontal > .swiper-pagination-bullets {
  bottom: -36px;
  /* z-index: 5; */
}

.swiper-wrapper {
  align-items: center;
  /* padding-bottom: 16px; */
}

.swiper-slide-active {
  /* scale: 1.19; */
  /* max-height: 295px; */
}

.swiper-slide img {
  display: block;
  height: auto;
  /* max-width: 100%; */
  object-fit: cover;
}

.swiper-slide-active img {
  /* height: 295px !important; */
  /* scale: 1.19; */
  object-fit: contain !important;
}

@media screen and (min-width: 768px) {
  .swiper-slide-active {
    /* scale: 2.2; */
    scale: 1.19;
  }

  .prev-slider,
  .next-slider {
    position: absolute;
    top: 21px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;

    cursor: pointer;
    transition: opacity 200ms linear;
    z-index: 2;
    color: #064e3b;
  }

  .prev-slider:hover,
  .prev-slider:focus,
  .next-slider:hover,
  .next-slider:focus {
    background-color: rgba(2, 147, 28, 0.1);
    outline: none;
  }

  .swiper-slide-active img {
    max-height: 402px !important;
  }
}

@media screen and (min-width: 1280px) {
  .swiper-slide-active {
    scale: 1.36;
  }

  .swiper-slide-active img {
    height: 496px !important;
  }

  /* .swiper-pagination {
    display: none;
  } */
}
